<% if !@entries.empty?%>
<b>** <%= link_to "Mail news feed", :controller => "feeds",
                                          :action => "send_mail" %>
**</b>
<%end%>

<%= will_paginate @entries %>
<ul>
<% for entry in @entries %>
<li> <b> <%= link_to h(entry.title), entry.url %> updated <%= time_ago_in_words(entry.published_at) %> ago</b><br />
       <p> <%= raw entry.summary %> </p>
       <p style="font-size:xx-small"> <%= raw entry.content %> </p>
  </li>
<% end %>
</ul>
<%= will_paginate @entries %>

