
<p>
  <b>Name:</b>
  <%= @event.title %>
</p>


<p>
  <b>Start time:</b>
  <%= @event.starts_at %>
</p>

<p>
  <b>End time:</b>
  <%= @event.ends_at %>
</p>

<p>
  <b>Content:</b>
  <%= raw(@event.content) %>
</p>


<%= link_to 'Back', '/calendar' %>
<%= link_to 'Delete',  @event, :confirm => 'are you sure?', :method => :delete %>
