<div id="header">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      
      <% if signed_in? %>
        <li><%= link_to "Profile", keywords_path %></li>
        <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
        <% if current_user.admin? %>
           <li><%= link_to "All users", users_path %></li>
        <% end%>
        <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
  
    </ul>
</div>

