<!DOCTYPE html>
<html>
<head>
  <title>dada's home</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "event_calendar.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "event_calendar.js" %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div>
   <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
   <% end %>
</div>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
