<!DOCTYPE html>
<html>
<head>
  <title>dada's home</title>
  <%= stylesheet_link_tag    "fullcalendar.css", "fullcalendar.print.css" %>
  <%= javascript_include_tag "jquery-1.7.1.min.js", "jquery-ui-1.8.17.custom.min.js", "fullcalendar.min.js" %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tags %>


</head>
<body>

<%= render 'layouts/header' %>

<div>
   <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
   <% end %>
</div>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
